<p id="notice"><%= notice %></p>

<h1>Awesome BBS</h1>

<% @topics.each do |topic| %>
  <div style="border: solid 1px #AAA; margin-bottom: 10px; padding: 10px;">
		<% cache topic do %>
    <%= link_to topic.title, topic, style: 'font-size: 150%;' %>
		<% topic.comments.sort_by {|c| c.created_at }.last(3).each do |comment| %>
      <div><%= comment.body.truncate(20) %></div>
    <% end %>
		<% end %>
  </div>
<% end %>

<br>

<% if @page > 1 %>
<%= link_to 'Prev Page', root_path(page: @page-1) %> |
<% end %>
<% if @page < @max_page %>
<%= link_to 'Next Page', root_path(page: @page+1) %>
<% end %>

<hr>

<%= link_to 'New Topic', new_topic_path %>

<hr>

<div>
<%- if current_user -%>
    Hello, <%= current_user.email %>
<%- else -%>
  <%= link_to 'Register', new_user_path %>
  <%= form_tag(login_users_path) do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>

    <div class="field">
      <%= label_tag :password %>
      <%= text_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag('Login') %>
    </div>
  <% end %>
<%- end -%>
</div>

<hr>

Access counter: <%= BBS::Counter.count %>
